:root {
--body-bg: #faf9f8;
--header-footer-text: #757572;
--nav-bg: #446413;
--link-hover:  rgb(235, 233, 233);
--container-bg: rgb(228, 228, 228);
--item-container-bg: #f1f1f1;
--search-input-bg: white;
--login-btn-blue: rgb(0, 136, 255);
--banner-link: #a1c794;
--landing-text: #588748;
--nav-links: white;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin:0;
  font-size: 20px;
  text-align: left;
  line-height: 1.5;
  min-width: 320px;
  /* background-image: url('./img/landing-page.jpeg'); */
  background-color: var(--body-bg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

/* Layout for header */
header {
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 0.75;
}

footer {
  padding-top: 2rem;
  padding-bottom: 1.5;
  color: var(--header-footer-text);
  text-align: center;
  font-size: 12px;
}

/* ---  Navigation --- */
.nav-bg {
background-color: var(--nav-bg);
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

header h1 {
  color: var(--header-footer-text);
  margin:0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

header nav ul {
  display: flex;
  flex-direction: row;
  padding-bottom: 0;
}

li {
  list-style-type: none;
}

header nav ul li a {
  text-decoration: none;
  padding: 0 10px 0 10px;
}

/* sections */

section {
  padding: 10px 5px;
  margin: 15px;
  border: 0;
  border-radius: 7px;
  box-shadow: 0 0 1px black;
}

a{
  color:var(--nav-links);
}

a:link{
  text-decoration: none;
}

a:hover {
  color: var(--link-hover);
}

.logo {
  font-size: 60px;
  padding: 0px;
  padding-left: 10px;
}

span {
  font-size: 14px;
  padding: 0;
}

p, h2 {
  margin: 23px 0;
}

h2 {
  font-weight: 700;
  font-size: 20px;
}

.current-items, .add-items {
  background-color: var(--container-bg);
}

.a form {
  margin: 0 auto;
  padding: 0 0 40px;
  max-width: 650px;
}

form.search input[type='text'] {
  padding: 10px;
  font-size: 17px;
  border: 0;
  float: left;
  width: 70%;
  background: var(--search-input-bg);
}

form.search button {
  float: left;
  width: 10%;
  padding: 10px;
  background: var(--nav-bg);
  color: white;
  font-size: 17px;
  border: 0;
  cursor: pointer;
}

.add-icon button {
  float: left;
  width: 10%;
  padding: 10px;
  background: var(--nav-bg);
  border: 0;
  color: white;
  font-size: 17px;
  cursor: pointer;
}

div.remove button {
  float: left;
  width: 20%;
  padding: 4px;
  background: var(--nav-bg);
  color: white;
  font-size: 17px;
  border-left: none;
  cursor: pointer;
}

div.remove-grocery button  {
  float: left;
  width: 40%;
  padding: 4px;
  background: var(--nav-bg);
  color: white;
  font-size: 17px;
  border-left: none;
  cursor: pointer;
}

form.search::after {
  content: '';
  clear: both;
  display: table;
}

button {
  margin: 0px 10px 0px 10px;
}

label p {
  margin: 6px 0 23px;
}

p + p {
  margin-top: 15px;
}

form {
  text-align: left;
}

label {
  display: block;
}

input[type='range'] {
  width: 50px;
}

.form-section {
  margin-bottom: 15px;
}

.button-section {
  padding: 0 0 0 15px;
}

.overview-section input,
.overview-section textarea {
  width: 100%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spaced {
  display: flex;
  justify-content: space-around;  
}

.to-right {
  display: flex;
  justify-content: right;
  align-items: center;
}

.center-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

label p {
  margin: 6px 0 23px;
}

p + p {
  margin-top: 15px;  
}

form {
  text-align: left;
}

label {
  display: block;
}

input[type="range"] {
  width: 50px;
}

.form-section {
  margin-bottom: 15px;
}

.button-section {
  padding: 0 0 0 15px;
}

.overview-section input,
.overview-section textarea {
  width: 100%;
}

/* Login/Sign Up Styling */
.login-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 10px;
  background-color: var(--container-bgcontainer-bg);
  border: 1px black solid;
}

.login input {
  background-color: var(--search-input-bg);
  margin-bottom: 20px;
  padding: 5px;
  border-radius: 3px;
}

.login button {
  padding: 10px;
  font-size: 16px;
  border: 1px solid grey;
  border-radius: 5px;
  cursor: pointer;  
}

.login form {
  width: 300px;

}

.register {
  margin: 8px;
  background-color: var(--login-btn-blue);
  color: white;
  padding: 10px;
  font-size: 16px;
  border: 1px solid grey;
  border-radius: 5px;
  cursor: pointer;  
}

.login p {
  font-size: 16px;
  margin: 0px;
}

/* Landing Page Styling */
.LandingPage {
  color: white;
  text-align: center;
}

.LandingPage h1 {
  margin:1rem 0;
font-size: 2.5rem;
}

.LandingPage .flex-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.LandingPage img {
  width: 100%;
}

.LandingPage .banner {
  display: flex;
  flex-wrap: wrap;
  width:100%;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0.5em;
  margin-bottom: 0;
  position: absolute;
  align-items: center;
  flex-direction: column;
}

.banner h1, h4 {
  color:white;
  margin: 0;
}

.banner a {
  color: var(--banner-link);
}

.banner a:hover {
  color: var(--link-hover);
}

.instructions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.instructions h1{
  margin: 1rem auto;
  color:black;
}

.step {
  display:flex;
  flex-direction: column;
  margin: 0.5rem;
  border: 3px solid #9A9999;
  border-radius: 25px;
  width:700px;
  height:325px;
}

.LandingPage .small-img {
  max-width: 700px;
  width:100%;
  padding-bottom: 1.5rem;
  border-radius: 20px;
}

.hide {
display: none;
}

/* Add Item Styling */
.add-item-container {
  margin: 1rem;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-item-container h1 {
  color: var(--header-footer-text)
}

.add-item-container h2 {
  padding: 0;
  margin:0;
  margin-bottom:1rem;
}

.add-item-container form {
  text-align: center;
}

.add-item-container button {
  color:white;
  background-color: var(--nav-bg);
  padding: 10px;
  font-size: 16px;
  border: 1px solid grey;
  border-radius: 5px;
  cursor: pointer; 
}
.button-base-center{
  margin: 0 auto;
  color:white;
  background-color: var(--nav-bg);
  padding: 10px;
  font-size: 16px;
  border: 1px solid grey;
  border-radius: 5px;
  cursor: pointer; 
}

.button-top-container {
  margin: 0.3rem;
}

.add-item-buttons {
 text-align: center;
}

.add-item-container > ul {
padding: 0;
}

.add-item-header {
  text-align: center;
}

.add-item-container input {
  margin-bottom: 1rem;
}

.button-wrapper {
  flex: none;
  min-width:170px;
}

.light-gray-bg {
  background-color: var(--item-container-bg);
}
/* Groups & Items  (Mobile First) */

.group {
  display: flex;
  flex-direction: column;
}

.item-single {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
  margin: 10px;
}

/* Groups & Items  (Desktop) */

@media all and (min-width: 800px) {
  .wrapper {
    width: 80%;
    margin: auto;
  }

  .group {
    flex-direction: row;
  }
}

/* tablet */
@media screen and (max-width: 768px) {
  .LandingPage .banner h1,h4 {
    font-size: medium;
  }

.LandingPage h1 {
font-size: 2rem;
}

#menu {
  padding-top: 1rem;
}
}

/* desktop */
@media screen and (min-width: 1024px) {
  .add-item-main-container {
    width:50%;
    margin: 0 auto;
}
}


