* {
  box-sizing: border-box;
}

body {
  font-size: 20px;
  text-align: left;
  line-height: 1.5;
  min-width: 320px;
  /* background-image: url('./img/landing-page.jpeg'); */

  background-color: #faf9f8;

  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

/* Layout for header */

header {
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  text-align: center;

  font-weight: 400;
  font-size: 20px;
  line-height: 0.75;
  color: #757572;
}

footer {
  padding-top: 2rem;
  padding-bottom: 1.5;
  color: #757572;
  text-align: center;
  font-size: 12px;
}
/* ---  Navigation --- */

header nav {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

header h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

header nav ul {
  display: flex;
  flex-direction: row;
  padding-bottom: 0;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  text-decoration: none;
  padding: 0 10px 0 10px;
}

header nav ul li a:hover {
  color: #446413;
}

header h1,
a {
  color: #757572;
}

/* sections */

section {
  padding: 10px 5px;
  margin: 15px;
  border: 0;
  border-radius: 7px;
  box-shadow: 0 0 1px black;
}

/* section:nth-child(odd) {
    background-color: #EDE0D4;
    color: #7F5539;
  } */

/* section:nth-child(even) {
    background-color: #B08968;
    color: #EDE0D4;
  } */

a {
  text-decoration: none;
}

a:hover {
  color: #446413;
}

.logo {
  font-size: 60px;
  padding: 0px;
}

span {
  font-size: 14px;
  padding: 0;
}

p,
h2 {
  margin: 23px 0;
}

h2 {
  font-weight: 700;
  font-size: 20px;
}

form {
  margin: 0 auto;
  padding: 0 0 40px;
  max-width: 650px;
}

form.search input[type='text'] {
  padding: 10px;
  font-size: 17px;
  border: 0;
  float: left;
  width: 70%;
  background: #f1f1f1;
}

form.search button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #446413;
  color: white;
  font-size: 17px;
  border: 0;
  cursor: pointer;
}

.add-icon button {
  float: left;
  width: 10%;
  padding: 10px;
  background: #446413;
  border: 0;
  color: white;
  font-size: 17px;

  cursor: pointer;
}

div.remove button {
  float: left;
  width: 12%;
  padding: 4px;
  background: #446413;
  color: white;
  font-size: 17px;

  border-left: none;
  cursor: pointer;
}

form.search::after {
  content: '';
  clear: both;
  display: table;
}

button {
  margin: 0px 10px 0px 10px;
}

label p {
  margin: 6px 0 23px;
}

p + p {
  margin-top: 15px;
}

form {
  text-align: left;
}

label {
  display: block;
}

input[type='range'] {
  width: 50px;
}

.form-section {
  margin-bottom: 15px;
}

.button-section {
  padding: 0 0 0 15px;
}

.overview-section input,
.overview-section textarea {
  width: 100%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Groups & Items  (Mobile First) */

.group {
  display: flex;
  flex-direction: column;
}

.item-single {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
  margin: 10px;
}

/* Groups & Items  (Desktop) */

@media all and (min-width: 800px) {
  .wrapper {
    width: 80%;
    margin: auto;
  }

  .group {
    flex-direction: row;
  }
}
